:root{
  --fileUploader-backgroundComponents: white;
  --fileUploader-loader-borderRadius: 4px;
  --fileUploader-loader-padding: 20px;
  --fileUploader-loader-fontSize: 16px;
  --fileUploader-loader-lineHeight: 1.5em;
  --fileUploader-loader-border: 1px solid grey;
  --fileUploader-loader-color: grey;
}
